.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
}

.homepage-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 20px;
}

.topic-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1000px;
  width: 100%;
}

.topic-box {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg);
  border: 3px solid var(--primary-text);
  border-radius: 15px;
  text-decoration: none;
  color: var(--primary-text);
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.topic-box::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(
    45deg,
    var(--accent-1),
    var(--accent-2),
    var(--accent-3)
  );
  z-index: -1;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.3s;
}

.topic-box:hover::before {
  opacity: 1;
}

.topic-box:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: var(--secondary-bg);
  background-color: var(--primary-text);
}
